.links {
  display: flex;
  justify-content: center;
  font-size: larger;
  max-width: 64vw;
  margin-top: 2rem;
}

.links a {
  color: rgb(62, 61, 61);
  text-decoration: none;
  font-weight: 900;
  margin: 0 2rem;
  cursor: pointer;
}

.links a:hover {
  color: rgb(110, 107, 107);
  border-bottom: solid 2px rgb(110, 107, 107);
}
