.skills-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4rem;
  padding-left: 4rem;
}

.skills-styling {
  line-height: 36px;
}

.skills-styling h4 {
    color: black;
}