.kc-hero-gradient {
  background-image: linear-gradient(Darkblue, skyblue, white);
}

/* .hero-box {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero-background {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero-left {
  width: 65%;
  height: 100%;
  background: white;
  display: inline-block;
}

.hero-right {
  width: 35%;
  height: 100%;
  background: skyblue;
  background-image: linear-gradient(Darkblue, skyblue, white);
  display: inline-block;
}

.keenen {
  transform: rotate(90deg);
  position: absolute;
  top: 400px;
  right: -250px;
  color: white;
  font-size: 80px;
}

.crummitt {
  color: rgb(62, 61, 61);
}

.self-image {
  height: 400px;
}

.self-image .img1 {
  width: 500px;
  height: auto;
  position: absolute;
  right: 200px;
  top: 175px;
}

.self-image .img2 {
  width: 500px;
  height: 763px;
  position: absolute;
  object-fit: cover;
  object-position: -890% 0;
  right: 442px;
  top: 175px;
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 450px;
  padding-top: 5px;
  padding-bottom: 16px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 40px;
  position: absolute;
  left: 100px;
  top: 375px;
}

.credentials h2 {
  font-size: 47px;
  width: 450px;
  height: 50px;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 400;
  margin: 20px 0px;
  text-align: right;
  color: rgb(62, 61, 61);
}

.hire-button {
  display: flex;
  justify-content: end;
  background-color: white;
  padding: 8px 36px;
  border-radius: 0.375rem 0.375rem 1.5rem;
  border: 2px solid rgb(62, 61, 61);
  transition: all ease 200ms;
  cursor: pointer;
}

.work {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.experience {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(62, 61, 61);
}

.experience h3 {
  font-size: 48px;
  margin: 0;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
  color: rgb(62, 61, 61);
}

.projects h3 {
  font-size: 48px;
  margin: 0px;
}

.hire-button {
  animation: moveRight 1s ease forwards;
  animation-delay: 8000ms;
  transform: translateX(-500%);
}
.hire-button:hover {
  background: rgb(62, 61, 61);
  color: white;
}

@keyframes moveRight {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
} */
