.hero-box {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero-background {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero-left {
  width: 70%;
  height: 100%;
  background: white;
  display: inline-block;
}

.hero-right {
  width: 30%;
  height: 100%;
  background: skyblue;
  display: inline-block;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.self-image img {
  width: auto;
  height: 400px;
}

.credentials {
  width: 350px;
}
